.cover {
  width: 350px;
  height: 500px;
  background-color:gray;
  /* finish your styling of the cover div here! */
}
#title {
  text-align:center;
  font-size:50px;
  padding:40px;
  font-family:"Source Code Pro";
  margin-bottom:0px;
  margin-top:0px;
  padding-bottom:0px;
}
#subtitle {
  text-align:center;
  color:aqua;
  opacity:70%;
  font-size:10px;
  font-family:"Source Code Pro";
  margin-left:100px;
  margin-bottom:100px;
  margin-top:0px;
}

#cover_image {
  width:250px;
  height:150px;
  margin-left:50px;
}
